
@{
    ViewBag.Title = "About Us";
}

<div class="about">
    <div class="about-heading">
        <div class="container">
            <h2 class="wow fadeInDown animated" data-wow-delay=".5s" style="font-size: 2.5em;">About Us</h2>
            <div class="wow fadeInUp animated" data-wow-delay=".5s" style="padding:20px 0;text-align:left">
                <span>
                    Online surveys are a great way to reach and engage with our target audience.<br />
                </span><div style="padding:10px 0">
    Read below advantages of using online surveys
</div>
                <ul style="padding-left: 17px;">
                    <li>
                        Faster -

                        The time span needed to complete an online survey project is on average two-thirds shorter than that of traditional research methods. Because information is being gathered automatically, you don't have to wait for paper questionnaires to come back to you - response time is almost instant. Online marketing experts say that more than half of responses are received within the first three days of the research project.
                    </li>
                    <li>
                        Cheaper -

                        Using online questionnaires reduces your research costs. You will save money on postage and you don't have to allocate time and resources to enter the information into a database. Responses are processed automatically and the results are accessible at any time.

                    </li>
                    <li>
                        More accurate -

                        The margin of error is greatly reduced with online surveys because participants enter their responses directly into the system. Traditional methods rely on the attentiveness of staff to enter all details correctly, and naturally human error can creep in whenever a person has to perform a repetitive task.

                    </li>
                    <li>
                        Quick to analyse -

                        The results of the online survey are ready to be analysed at any time. View results in real-time so you can act quickly, create graphs for reporting, export data for further analysis and share your results with anyone.

                    </li>
                    <li>
                        Easy to use for participants -

                        The majority of people that have access to the Internet prefer to answer surveys online instead of using the telephone. With an online survey, participants can pick a moment that suits them best and the time needed to complete the survey is much shorter. Questions that are not relevant to a particular participant can be skipped automatically using SmartSurvey’s Skip logic feature.

                    </li>
                    <li>
                        Easy to use for researchers -

                        The main benefit of online surveys for researchers is that they increase productivity by saving time. Data is instantly available and can easily be transferred into specialised statistical software or spreadsheets when more detailed analysis is needed.

                    </li>
                    <li>
                        Easy to style -

                        An online survey is an opportunity to imprint your brand in the user’s mind and remind them of the benefits you provide. Your survey can be styled to match your business website with customised backgrounds, images, logo, fonts, final re-direct page and even the URL of your survey. Ensure that your online survey provider supports mobile responsive surveys, enabling you to increase your reach, whilst maintaining your brand across all platforms.

                    </li>
                    <li>
                        More honest -

                        Market researchers have found that participants overwhelmingly prefer to complete online surveys rather than take part in written questionnaires or telephone interviews and usually provide longer and more detailed answers. By designing and sending relevant and targeted surveys, people are more likely to respond with honest answers.

                    </li>
                    <li>
                        More selective -

                        With an online survey you can pre-screen participants and allow only those who match your target profile to complete the survey. SmartSurvey’s Live Audience service can help you reach a specific target audience with relevant questions that will apply to them.

                    </li>
                    <li>
                        More flexible -

                        The order of the questions in an online survey can be changed, or questions can be skipped altogether, depending on the answer to a previous question. This way, a survey can be tailored to each participant as he or she proceeds.

                    </li>
                </ul>
                 </div>
        </div>
    </div>
</div>

