<script type="text/javascript">

    $(function () {

        $("#Email").val($("#EmailId").val());
        
        var buttonClicked;

        $("#errorEmail").click(function () {
            $(this).hide().html("");
            var id = $(this).attr('id').replace("error", "");
            $("." + id).focus();
        });

        function isValidEmailAddress(emailAddress) {
            var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
            return pattern.test(emailAddress);
        }

        function validateEmailId() {
            if ($("#Email").val().trim() == "")
                $("#errorEmail").show().html("Please enter email address.");
            else if (!isValidEmailAddress($("#Email").val().trim()))
                $('#errorEmail').show().html("Please enter valid email address.");
            else {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/Account/CheckEmailId",
                    data: "{emailid: '" + $("#Email").val().trim() + "'}",
                    contentType: "application/json",
                    dataType: "json",
                    beforeSend: function () { $("#loading").show(); },
                    success: function (response) {
                        if (!response)
                            $('#errorEmail').show().html("Entered email address is not registered.");
                    },
                    complete: function () { $("#loading").hide(); }
                });
            }
        }

        $("#Email").blur(function () {
            if (buttonClicked != undefined)
                validateEmailId();

            if ($("#errorEmail").html().length > 0)
                return false;
        });

        $('#btnSubmit').unbind('click').click(function () {
            buttonClicked = $(this).attr('id');
            $('#lblFPError').hide().html("");
            $('#errorEmail').hide().html("");
            validateEmailId();            

            if ($('#errorEmail').html().length > 0)
                return false;
        });
    });

    function OnSuccess(response) {
        
        if (response)
            $('#lblFPError').show().html("Password reset successfully. New password sent to your email id.");
        else
            $('#lblFPError').show().html("Error occurred while sending email. Please try again later.");
        return false;
    }
    function OnFailure(response) {
        $('#lblFPError').show().html("Error occurred while sending email. Please try again later.");
        return false;
    }
    function OnBegin() {
        $("#loading").show();
    }
    function OnComplete() {
        $("#loading").hide();
    }
</script>

<div class="modal-body">
    <div class="popup-body">

       
        @using (Ajax.BeginForm("submitForgotPassword", "Account", new AjaxOptions { OnBegin = "OnBegin", OnSuccess = "OnSuccess", OnFailure = "OnFailure", OnComplete = "OnComplete" }))
        {
            <div class="login-info" style="padding-top:1em">
                <div class="popup-form">
                    <h2>Forgot Password?</h2>
                    <div style="padding-top: 10px; height: 40px;">
                        <label id="lblFPError" class="error" style="display:none"></label>
                    </div>
                    <div style="height:45px">
                        @Html.TextBox("Email", ViewData[Constants.EmailId], new { @class = "EmailId user", placeholder = "Email Address", maxlength = 200 })
                        <span id="errorEmail" class="popup-validator" style="display:none"></span>
                    </div>
                </div>
                <input type="submit" id="btnSubmit" name="Submit" value="Submit" />
                <input type="submit" id="btnCancel" name="Cancel" value="Cancel" data-dismiss="modal" />
            </div>
        }
    </div>
    </div>
